﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Bad Movie Database";
}

<div class="text-center">
    <main>

        <div class="container">
            @* center text and add padding *@
            <div class="row d-flex align-items-center h-100 pad-top-75">
                <div class="col-sm text-center">
                    <h1 class="display-4 font-weight-bolder"><span class="text-danger">Bad</span> Movies Database</h1>
                    <p class="lead">Bad movies for great people.</p>
                </div>
                <div class="col-sm-8">
                    <img src="~/Resources/pexels-ketut-subiyanto-4545955.jpg" class="rounded img-fluid" />
                </div>
            </div>
            @* icons and user invites to join *@
            <div class="row pad-top-150">
                <div class="col-sm">
                    <h2>Have a movie night with friends</h2>
                    <p>Search for a great bad movie, set a date with friends, have fun!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle shadow" src="~/Resources/Bookmarks-rafiki.png" alt="Find movies" width="140" height="140">
                    <h4>Find the perfect bad movie</h4>

                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle shadow" src="~/Resources/Community-pana.png" alt="Watch together" width="140" height="140">
                    <h4>Watch with friends</h4>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle shadow" src="~/Resources/Uploading-bro.png" alt="Add movies" width="140" height="140">
                    <h4>Add movies you have watched</h4>
                    <a class="btn btn-outline-secondary" asp-area="" asp-page="/Movie/Create">Add a Movie</a>
                </div>
            </div>
            <div class="row pad-top-125">
                <div class="col-sm text-center">
                    <h2>Join now</h2>
                    <p>It's free to create an account!</p>
                    <a class="btn btn-success" asp-area="" asp-page="/Login">Join Bad Movie DB</a>
                </div>
            </div>
            @* Latest movies *@
            <div class="row pad-top-150">
                <div class="col-lg-4">
                    <img src="~/Resources/pexels-henry-&-co-3137890.jpg" alt="Movie posters" class="rounded img-fluid shadow" />
                </div>
                <div class="col-lg-8 p-2">
                    <h2>Latest Movies</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Movie Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>The Room</td>
                            </tr>
                            <tr>
                                <td>Birddemic</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
