﻿@page
@model BadMovieDBApp_Razorpages.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.DateReleased)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.DateReleased)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.DateAdded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.DirectedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.DirectedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ImdbRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ImdbRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.UserRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.UserRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.UserAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.UserAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movie.MovieID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
