﻿@page
@model BadMovieDBApp_Razorpages.Pages.Movies.IndexModel

@{
    bool UserIsAdmin = false;
    if (User.Identity.IsAuthenticated)
    {
        UserIsAdmin = User.HasClaim("AdminRole", "True");
    }


}
<h1>Bad Movies List</h1>



@*Search form*@
<div class="container pt-2">
    <div class="row jumbotron bg-white border-green">
            <div class="col-sm text-center">
              <form class="form-inline justify-content-center">
                <h2>Find a bad movie</h2>
                    <div class="col-auto">
                        <input type="text" asp-for="SearchString" class="form-control" placeholder="Enter a movie title" />
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Search" class="btn btn-secondary" />
                    </div>
              </form>
            </div>
    </div>
</div>

@* List of movies *@
<div class="pt-2">
    <p>
        <a class="btn btn-outline-success" asp-page="Create">📽️ Add New</a>
    </p>

</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].DirectedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].ImdbRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].UserRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirectedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImdbRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRating)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MovieID">✏️ Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MovieID">📝 Details</a>

                    @*Admin has the ability to delete movies from the DB*@
                    @if (UserIsAdmin)

                    {
                        <text>|</text> <a asp-page="./Delete" asp-route-id="@item.MovieID">Delete</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
